@import url('https://fonts.googleapis.com/css2?family=Baskervville+&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --primaryColor: rgba(255,255,255,.6)
}
body{
    font-family: rubik;
    background-image: url(img/bg\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}
.headerWrapper{
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor);
    backdrop-filter: blur(20px);
}
.logo a{
    font-family: "Baskervville SC", serif;
    text-decoration: none;
    color: black;
    margin: 0;
    transition: color .2s;
}
.logo a:hover,
.logo a:focus{
    color: white;
    border: none;
    outline: none;
}

.listLinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 3rem;
}
.listLinks li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: color .2s;
}
.listLinks li a:hover,
.listLinks li a:focus{
    color: var(--primaryColor);
    
    border: none;
    outline: none;
}
.wrapperContainer{
    /* background-color: red; */
    min-height: calc(100vh - 84.75px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: var(--primaryColor);
    border-radius: 6px;
    backdrop-filter: blur(5px);
}
.formContainer input{
    box-sizing: border-box;
    background-color: rgba(255,255,255,.3);
    border: none;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    transition: transform .2s;
}
.formContainer span{
    transition: color .2s;
}
.formContainer span:hover{
    cursor: pointer;
}
.formContainer input:focus{
    transform: scale(1.05);
    border: none;
    outline: none;
}
.formContainer input:focus + span{
    color: var(--primaryColor);
}
input[type="checkbox"] {
    opacity: 0;
    pointer-events: none;
    margin: 0;
}
.rememberCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}
.rememberCheckbox label{
    display: flex;
    justify-content: center;
    gap: .5rem;
    transition: transform .2s;
}
.rememberCheckbox label:hover{
    cursor: pointer;
}
input[type="checkbox"]:focus-visible + label {
    transform: scale(1.05);
}
.rememberCheckbox input + label .icon-checkbox-checked{
    display: none;
}
.rememberCheckbox input[type="checkbox"]:checked + label .icon-checkbox-checked{
    display: inline-block;
}
.rememberCheckbox input[type="checkbox"]:checked + label .icon-checkbox-unchecked{
    display: none;
}
.btn{
    font-family: rubik;
    border: 2px solid black;
    outline: none;
    color: none;
    background-color: transparent;
    border-radius: 30px;
    padding: .8rem 3rem;
    transition: background-color .2s, transform .2s;
}
.btn:hover{
    background-color: var(--primaryColor);
    cursor: pointer;
    transform: translateY(-5%);
}

