.gridContainer{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px calc(100vh - 120px) 100vh 80vh 30vh;
    row-gap: 10px;
}
.gridItem:nth-child(1),
.gridItem:nth-child(2),
.gridItem:nth-child(3),
.gridItem:nth-child(4),
.gridItem:nth-child(5){
    grid-column: 1 / -1;
}